* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: teal;
}
.board {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 10px auto;
}
.box {
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}
.box:not(.winner):hover {
  background-color: #c4c4c4;
}
.result {
  text-align: center;
  font-size: 40px;
}
.score__element {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  background-color: firebrick;
  color: #fff;
  font-weight: bold;
}
.reset {
  display: block;
  margin: 0 auto;
  font-size: 36px;
  cursor: pointer;
}
.winner {
  background-color: greenyellow;
}
